/* beleren-latin-700-normal*/
@font-face {
  font-family: 'beleren';
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src: url('./files/beleren-latin-700-normal.woff2') format('woff2'),
    url('./files/beleren-latin-700-normal.woff') format('woff');
}
