/* beleren-latin-700-smallcaps*/
@font-face {
  font-family: 'beleren';
  font-style: smallcaps;
  font-display: swap;
  font-weight: 700;
  src: url('./files/beleren-latin-700-smallcaps.woff2') format('woff2'),
    url('./files/beleren-latin-700-smallcaps.woff') format('woff');
}
