.MseTemplateM15 .MseCard {
  color: #000;
  height: 523px;
  position: relative;
  width: 375px;
}
.MseTemplateM15 .MseCardBackground {
  background-size: cover;
  border-radius: 18px;
  height: 100%;
  left: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1;
}
.MseTemplateM15 .MseCardTopLine {
  align-items: center;
  display: flex;
  flex-flow: row nowrap;
  font-family: beleren;
  height: 23px;
  justify-content: space-between;
  left: 32px;
  position: absolute;
  right: 26px;
  top: 30px;
  width: auto;
  z-index: 2;
}
.MseTemplateM15 .MseCardName {
  flex: 0 1 100%;
  font-size: 1em;
  height: 100%;
}
.MseTemplateM15 .MseCardCost {
  flex: 0 0 auto;
  font-size: 1.125em;
  height: 100%;
  min-width: 5px;
}
.MseTemplateM15 .MseCardCost .MtgSymbolBackground {
  filter: drop-shadow(-2px 4px 2px rgb(0 0 0));
}
.MseTemplateM15 .MseCardTypeLine {
  align-items: flex-end;
  display: flex;
  flex-flow: row nowrap;
  height: 20px;
  justify-content: flex-start;
  left: 32px;
  position: absolute;
  top: 296px;
  width: 310px;
  z-index: 2;
}
.MseTemplateM15 .MseCardTypeLineDivider {
  font-family: beleren;
  font-size: 0.8125em;
  margin-left: 0.5em;
  margin-right: 0.5em;
}
.MseTemplateM15 .input {
  font-family: beleren;
  font-size: 0.8125em;
  min-width: 1em;
}
.MseTemplateM15 .MseCardPowerToughness {
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  font-family: beleren;
  font-size: 1em;
  height: 35px;
  left: 283px;
  line-height: 1.5;
  position: absolute;
  top: 466px;
  width: 69px;
  z-index: 3;
}
.MseTemplateM15 .MseCardPowerToughnessLabel {
  align-items: center;
  display: flex;
  font-size: 1em;
  height: 28px;
  justify-content: center;
  left: 54%;
  position: absolute;
  text-align: center;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 60px;
}
.MseTemplateM15 .MseCardPowerToughnessDivider {
  font-size: 1em;
  height: 100%;
  left: 50%;
  position: absolute;
  text-align: center;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 1em;
}
.MseTemplateM15 .MseCardPower {
  flex: 0 0 30%;
  font-size: 1em;
  height: 100%;
  margin-right: 0.25em;
  position: relative;
  text-align: right;
}
.MseTemplateM15 .MseCardToughness {
  flex: 0 0 30%;
  font-size: 1em;
  height: 100%;
  margin-left: 0.25em;
  position: relative;
  text-align: left;
}
.MseTemplateM15 .MseCardTextBox {
  align-items: flex-start;
  display: flex;
  flex-flow: column nowrap;
  font-size: 1em;
  height: 154px;
  justify-content: center;
  left: 29px;
  line-height: 1.2;
  padding: 0 4px 0 6px;
  position: absolute;
  top: 327px;
  width: 310px;
  z-index: 2;
}
.MseTemplateM15 .MseCardFlavorText,
.MseTemplateM15 .MseCardRulesText {
  display: inline;
  font-family: mplantin;
}
.MseTemplateM15 .MseCardFlavorText {
  font-style: italic;
  font-weight: 400;
  min-height: 1px;
  min-width: 1em;
}
.MseTemplateM15 .MseCardTextBoxDivider {
  background: linear-gradient(
    90deg,
    transparent,
    #000 20%,
    #000 50%,
    #000 80%,
    transparent
  );
  display: block;
  flex: 0 0 1px;
  height: 1px;
  margin: 3% auto;
  width: 80%;
}
.MseTemplateM15 .MseCardArtwork {
  background-size: cover;
  height: 231px;
  left: 29px;
  object-fit: contain;
  position: absolute;
  right: 59px;
  top: 60px;
  width: 316px;
  z-index: 3;
}
